<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  

  <body class="bg-secondary text-white">
    <div class="container" style="margin-top: 50px;">
        <div class="row">
         <div class="col-xs-6 col-md-4"><img src="/images/vesikalik.jpg" alt="My Logo" style="width:200px;height:250px; ">
        <a href="/documents/Emre Kemal Yurderi Resume 2022.pdf"><p class="text-black" style="text-align:left; margin-left: 15px;" >Please find my resume</p></a></div>
            <div class="col-xs-6 col-md-6"><p>After I graduated from statistics, I started my career as a budget planning and reporting specialist in human resources.
               During my human resources career in 7 years, I worked in budget planning and reporting, compansation & benefits, and 
               organization development departments. However, I was interested in data science, and I started to study by myself from MOOC platforms.
               Then, during the pandemic I earned my master's degree in data analytics and in 2022 I reached my goal and changed my career path.
               I repositioned in my company from human resources to business intelligence as an data analyst. 
               I have human resources and logistics domain knowledge. I have hands-on experience in ETL processes and data analysis projects. 
               My technical skills as follows;</p>
              <ul>
                <li>PostgreSQL</li>
                <li>MSSQL</li>
                <li>Python (Pandas, Numpy, Matplotlib, Sci-kit Learn</li>
                <li>R (dplyr, Ggplot2, Lubridate, Shiny)</li>
                <li>Pentaho</li>
                <li>Azure ML Studio</li>
                <li>Excel</li>
              </ul>
            </div>
        </div>
    </div>
</body>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

