<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
<body class="bg-secondary text-white">
   <div class="container" style="margin-top: 50px;">
     <div class="row">
       <div class="col-xs-6 col-md-4 col-sm-4"; style="float: left;">
           <img src="/images/dashboardproject.png" alt="dashboardProject" style="width:400px;height:200px;">
         <div style="text-align: center;">
           <p>Human Resources <br> Dashboard Project </p>
         </div>
         <div style="text-align: center;margin-bottom: 100px;">
            <p>The human resources dashboard project provides a wide range perspective to the management team of a company about their
               teams. Total number of employees, demographical statistics, monthly recruitments and lay offs, monthly overtime tracking, total training activities can be
               seen in the dashboard. Additionally, it provides comparing between up to 3 departments.  
                </p>
          </div>
       </div>
        <div class="col-xs-6 col-md-4 col-sm-4" style="float: left;">
            <img src="/images/closed.png" alt="ClosedCompanyProject" style="width:400px;height:200px;">
          <div style="text-align: center;">
            <p>Closed Company <br> Flagging Project </p>
          </div>
          <div style="text-align: center;margin-bottom: 100px;">
            <p>The aim of the project was flagging the locations that possibly close at weekends and statuary holidays to prevent 
               the loss of volume, money, and time during delivery. In terms of that a 4-step algorithm is designed, and more than 70% of
               success rate is achieved.
                </p>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-4" style="float:left;">
         <img src="/images/vote.jpg" alt="VaccineSurveyProject" style="width:400px;height:200px;">
       <div style="text-align: center;">
         <p>Multi-Labeled Classification <br> Predicting People's Vaccination Belief Project </p>
       </div>
       <div style="text-align: center;margin-bottom: 100px;">
         <p>The project aims to find relations between people’s decisions of getting seasonal
            or H1N1 vaccination and their behaviors for preventing
            sickness or their beliefs about vaccination's efficacy by using
            multi-labeled classification methods and machine learning
            algorithms. First, Multivariate Imputation by Chained
            Equations (MICE) method is applied to impute the missing
            values. Then, binary relevance and label powers et methods
            are used to prepare the datasets before applying appropriate
            machine learning algorithms. Finally, Bernoulli Naïve Bayes,
            Multinomial Naïve Bayes, Random Forest Classifier and
            XGBoost Classifier algorithms are used to find the model that
            can more accurately predict the dependent variables by using
            independent features. 78% of accuracy is achieved as the
            result of the project. </p>
       </div>
     </div>
      </div>
   </div>
   

    <!-- <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="col-xs-6 col-md-4 col-sm-4"; style="float: left;">
          <img src="/images/dashboardproject.png" alt="dashboardProject" style="width:400px;height:200px;">
          <div style="text-align: center;">
            <p>Human Resources <br> Dashboard Project </p>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-4"; style="float: left;">
          <img src="/images/closed.png" alt="ClosedCompanyProject" style="width:400px;height:200px;">
          <div style="text-align: center;">
            <p>Closed Company <br> Flagging Project </p>
          </div>
        </div>
      </div>
    </div> -->
    
    </body>
   

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

