<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
<body class="bg-secondary text-white">
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-sm-4" style="width: 50%; float: left;">
      <div style="float: left; align-items: center;">
        <img src="/images/dataAnalysis.jpg" alt="dataAnalysisExamplePhoto" style="width:250px;height:200px;">
      </div>
      <div style="float:left; padding-left: 20px; align-items: center;margin-top: 80px;">
        <p>Data Analysis (ETL)</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 col-sm-4" style="width: 50%; float: left;">
      <div style="float: left; vertical-align: middle;">
        <img src="/images/Visualization.jpg" alt="visualizationExamplePhoto" style="width:250px;height:200px;">
      </div>
      <div style="float:left; padding-left: 20px;vertical-align: middle;margin-top: 80px;">
        <p>Data Visualization</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 col-sm-4" style="width: 50%; float: left;">
      <div style="margin-top: 20px;float: left; vertical-align: middle;">
        <img src="/images/dataPrediction.jpg" alt="dataPredictionExamplePhoto" style="width:250px;height:200px;">
      </div>
      <div style="float:left; padding-left: 20px;vertical-align: middle;margin-top: 100px;">
        <p>Data Prediction</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 col-sm-4" style="width: 50%; float: left;">
      <div style="margin-top: 20px;float: left; vertical-align: middle;">
        <img src="/images/dashboard.jpg" alt="dashboardExamplePhoto" style="width:250px;height:200px;">
      </div>
      <div style="float:left; padding-left: 20px;vertical-align: middle;margin-top: 100px;">
        <p>Dashboard Development</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 col-sm-4" style="width: 50%; float: left;">
      <div style="margin-top: 20px;float: left; vertical-align: middle;">
        <img src="/images/excelConsultancy.jpg" alt="excelConsultancyExamplePhoto" style="width:250px;height:200px;">
      </div>
      <div style="float:left; padding-left: 20px;vertical-align: middle;margin-top: 100px;">
        <p>Excel Consultancy</p>
      </div>
    </div>
  </div>
</div>
 
 </body>

<ul style="margin-top: 50px; margin-left:50px;">
   <li></li>
   <li></li>

 </ul>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

